<div class="jumbotron">
    <div class="signin_form center-block">
        <h2>Signing in</h2>
        <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="input-group">
                <%= f.label :email, class: "input-group-addon" %>
                <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>
            </div>
            <br />
            <div class="input-group">
                <%= f.label :password, class: "input-group-addon" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <br />
            <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>
        <br />
        <p>New user? <%= link_to "Sign up now !", :signup %></p>
    </div>
</div>