<div class="jumbotron">
    <h2>Community members</h2>
    <p>
        Here is the list of our members.
    </p>
    <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.pseudo, user %></li>
        <% end %>
    </ul>
</div>