<div class="jumbotron">
    <div class="signup_form center-block">
            <h2>Signing up</h2>
            <p>
                You're here because you want to sign up to my wonderful useless RoR application.
                
                Here's some information we need to create your account:
            </p>
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages' %>
              <div class="input-group">
                  <%= f.label :pseudo, class: "input-group-addon" %>
                  <%= f.text_field :pseudo, class: "form-control", placeholder: "Username" %>
              </div>
              <br />
              <div class="input-group">
                  <%= f.label :email, class: "input-group-addon" %>
                  <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>
              </div>
              <br />
              <div class="input-group">
                  <%= f.label :password, class: "input-group-addon" %>
                  <%= f.password_field :password, class: "form-control" %>
              </div>
              <br />
              <div class="input-group">
                  <%= f.label :password_confirmation, "Confirmation", class: "input-group-addon" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
              <br />
              <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
            <% end %>
    </div>
</div>