<div class="jumbotron">
    <h2>Profile for [ <%= @user.pseudo %>]</h2>
    <p>
        <ul>
            <li>Username : <%= @user.pseudo %></li>
            <li>Mail address: <%= @user.email %></li>
        </ul>
    </p>
</div>
