<% if @user.errors.any? %>
    <div class="alert alert-warning" role="alert">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>