<div class="jumbotron">
    <h2>Home</h2>
    <p>
      Welcome on the homepage. Hope you will enjoy my useless RoR application.
    </p>
    <%= link_to "Sign up now!", :signup, class: "btn btn-large btn-primary" %>
</div>