/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body
{
    padding-top:60px;
}

h2
{
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
}

p
{
    font-size: 1.1em;
    line-height: 1.7em;
}

textarea, .input-group
{
    border: 1px solid #BBBBBB;
    margin-bottom: 15px;
    width: 100%;
}

.field_with_errors
{
    display: inline-block;
}

.signup_form, .signin_form
{
    width: 50%;
}



