<div class="navbar navar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tutot RoR</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "About", :about %></li>
        <li><%= link_to "Our community", users_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User menu<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Public profile", current_user %></li>
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", :signout, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in / Sign up", :signin %></li>
        <% end %>
        <li><%= link_to "Contact", :contact %></li>
      </ul>
    </div>
  </div>
</div>